*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
section{
    padding-block: 120px;
    
}
.container{
    width: 85%;
    max-width: 1140px;
    margin-inline: auto;
}
section header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 15px;
    padding-bottom: 60px;
}
header h2{
    font-size: 36px;

}
header p{
    font-size: 14px;
}

main{
    display: flex;
    gap: 10px;
}
.cons-box{
    padding: 20px;
    text-align: center;
    background-color: #f9f9ff;
    transition: all 0.3s ease;
}

main h4{
    padding-block: 20px;
    
}
main p{
    font-size: 14px;
    margin-bottom: 16px;
}
.cons-box:hover{
    background-color: #fab700;
}