*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
section{
    width: 100%;
    max-width: 1140px;
    margin: auto;
}
h1,h3{
    font-weight: 900;
    margin: 19px;
}
table{
    border-collapse: collapse;
    background-color: #f0fff8;
}
/* border-collapse: collapse ile xet tam birlesir tableda defaultu seperatedi */
td,p,ul{
    border: 1px solid #80ced6;
}
td{
    padding: 10px;
}
ul{
    list-style-position: inside;
}
p,ul{
    padding: 30px;
    border-radius: 12px;
    margin-block: 16px;
    background-color: #f0fff8;
}
