*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.out{
    padding: 0 10px;
    margin-top: 10px;
}
.inside{
    border: 1px solid #000;
    background-color: aqua;
    height: 20vh;
    h2{
        font-size: 30px;
    }
    p{
        margin-top: 10px;
    }
    h6{
        margin-top: 10px;
    }
}