* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/058/560/031/large/roysi-patramilo-sengul-background2.jpg?1674468575);
}

.title {
    font-size: 6vw;
    color: #763626;
    -webkit-text-stroke-color: #FFF2D7;
    -webkit-text-stroke-width: .5px;
    font-style: italic;
    margin-bottom: 5%;
}

.game-modal {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 7vh;
    background-color: transparent;
    /* border: 1px solid black; */

    input {
        font-size: 3vw;
        margin-bottom: 3vh;
    }

    button {

        font-size: 2vw;
        border: none;
        outline: none;
        width: 40%;
        height: 5vh;
        margin-bottom: 3vh;
        border-radius: 10px;
    }
}

.container {
    width: 90%;
    height: 70vh;
    background-color: #FFF2D7;
    position: relative;
    display: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    /* flex-wrap: wrap !important;  */

    .game-container {
        z-index: 10;
        position: relative;
        /* left: 2vw;
        top: 2.5vh; */
        width: 90%;
        height: 90%;
        background-color: #fff;

        .overlay {
            position: absolute;
            inset: 0;
            z-index: 100;
            background-color: transparent;
        }

        .ballon {
            cursor: pointer;
            width: 4%;
            height: 8%;
            border: 1px solid black;
            border-radius: 50%;
            background-color: red;
            position: absolute;
            z-index: 100;
        }
    }


}

.game-info {
    border-radius: 20px;
    margin-top: 1%;
    height: 30%;
    margin-bottom: 1%;
    padding: 1% 2%;
    background-color: #fff;
    width: fit-content;
    font-size: 1.5vw;
    /* position: absolute; */
    /* top: 20%; */
    /* right: 0; */
    /* z-index: 10; */
    display: none;
    text-align: center;

    .controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1% 5%;
        width: 20%;

        button {
            background-color: transparent;

            &:disabled {
                border: none;
            }
        }
    }

    ul {
        padding: 1% 5%;
        width: 30%;
        list-style-type: decimal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game-info-display {
        padding: 1% 3%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.gameover {
    border: 1px solid black;
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50vh;
    background-color: bisque;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 101;
    border-radius: 20px;

    p {
        color: #763626;
        font-size: 2vw;
        font-weight: 600;
    }

    h1 {
        font-size: 8vw;
        color: #330000;
        /* -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px; */
    }
}

@media screen and (max-width:760px) {
    .container {
        justify-content: center;
        /* align-items: center; */

    }

    .game-container {
        width: 100%;
    }

    .container>.game-container>.ballon {
        width: 4%;
        height: 6%;
    }

    .game-info {
        font-size: 1rem;
    }

    .game-modal {
        margin-top: 8%;
    }
}